// colors
$orange: #e45028;
$yellow: #f9b43b;
$dark: #2f3234;
$light: #fff;

$btn-color: $light;

$svg-red: #e25028;
$svg-yellow: #f8b43a;
$svg-green: #8ac03e;

//fonts
$h1-size: 72px;
$btn-size: 13px;

$main-font: "Ubuntu", sans-serif;
$h1-font: "Gagalin", serif;
$accent-font: "Lifehack", cursive;

//sizes
$min-width: 320px;
$min-height: 650px;
$footer-height: 60px;
$container-width: 940px;

$team-photo: 100px;

$social-icon: 20px;

$menu-width: 80px;
$menu-accordeon-width: 540px;

//decorative
$transition: .5s;
$border-radius: 5px;

//media-запросы
$phone: 480px;
$tablet: 768px;
$laptop: 992px;